@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-caveat: "Caveat Brush", "serif";
	--color-brand-teal: #14b8a6;
	--color-brand-fuchsia: #ec4899;
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@utility prose {
	h1 {
		font-size: var(--text-5xl);
	}

	h2 {
		font-size: var(--text-5xl);
	}

	h3 {
		font-size: var(--text-4xl);
	}

	h4 {
		font-size: var(--text-3xl);
	}

	h5 {
		font-size: var(--text-2xl);
	}

	h6 {
		font-size: var(--text-xl);
	}

	@variant lg {
		h1 {
			font-size: var(--text-7xl);
		}

		h2 {
			font-size: var(--text-6xl);
		}

		h3 {
			font-size: var(--text-5xl);
		}

		h4 {
			font-size: var(--text-4xl);
		}

		h5 {
			font-size: var(--text-3xl);
		}

		h6 {
			font-size: var(--text-2xl);
		}
	}

	pre {
		background-color: transparent;
	}

	p {
		font-size: var(--text-lg);
		line-height: var(--leading-relaxed);
	}

	li {
		font-size: var(--text-lg);
		line-height: var(--leading-relaxed);
	}

	hr {
		border-color: var(--color-gray-700);
	}

	a {
		color: var(--color-gray-700);
		&:hover {
			text-decoration: underline;
		}
	}

	strong {
		font-weight: 700;
	}

	img {
		width: 100%;
	}

	--prose-body: var(--color-gray-700);
	--prose-headings: var(--color-gray-700);
	--prose-lead: var(--color-gray-700);
	--prose-links: var(--color-gray-700);
	--prose-bold: var(--color-gray-700);
	--prose-counters: var(--color-gray-700);
	--prose-bullets: var(--color-gray-700);
	--prose-hr: var(--color-gray-700);
	--prose-quotes: var(--color-gray-700);
	--prose-quote-borders: var(--color-gray-700);
	--prose-captions: var(--color-gray-700);
	--prose-code: var(--color-gray-700);
	--prose-pre-code: var(--color-gray-700);
	--prose-pre-bg: var(--color-gray-700);
	--prose-th-borders: var(--color-gray-700);
	--prose-td-borders: var(--color-gray-700);
}

html,
body {
	@apply h-full antialiased scroll-smooth;
}

body {
	@apply h-full scroll-smooth font-sans text-gray-700;
	background-image: url("/pattern.jpg");
	background-repeat: repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold wrap-break-word font-caveat;
}

h1,
.h1 {
	@apply text-5xl lg:text-7xl;
}

h2,
.h2 {
	@apply text-5xl lg:text-6xl;
}

h3,
.h3 {
	@apply text-4xl lg:text-5xl;
}

h4,
.h4 {
	@apply text-3xl lg:text-4xl;
}

h5,
.h5 {
	@apply text-2xl lg:text-3xl;
}

h6,
.h6 {
	@apply text-xl lg:text-2xl;
}

p {
	@apply leading-relaxed;
}

.button {
	@apply rounded-xl px-4 py-3 text-lg transition duration-300 font-bold shadow-sm focus-visible:outline-2 focus-visible:outline-offset-2;
}

.button-teal {
	@apply bg-brand-teal hover:bg-brand-teal/80 text-white focus-visible:outline-brand-teal;
}

.button-fuchsia {
	@apply bg-brand-fuchsia hover:bg-brand-fuchsia/80 text-white focus-visible:outline-brand-fuchsia;
}

.button-white {
	@apply bg-white text-gray-700 hover:bg-white/80 focus-visible:outline-white;
}

.menu-item-highlighted.menu-item-highlighted {
	@apply text-white bg-brand-teal px-4 rounded-full py-1.5 hover:bg-brand-teal/80 hover:text-white;
}

.menu-item-active.menu-item-highlighted {
	@apply hover:text-white;
}

.menu-item-active:not(.menu-item-highlighted) {
	@apply text-brand-fuchsia font-bold;
}

[x-cloak] {
	display: none !important;
}

main > section:first-child {
	padding-top: var(--header-height);
}

section.bg-white + section.bg-white > .container {
	@apply pt-0;
}

input,
textarea {
	@apply border border-gray-300 rounded-lg px-4 py-3 w-full focus:outline-none focus:ring-2 focus:ring-brand-teal;
}

label {
	@apply block text-sm/6 font-semibold;
}

.swiper-pagination-bullet-active.swiper-pagination-bullet-active {
	@apply bg-brand-fuchsia;
}

/* caveat-brush-regular - latin */
@font-face {
	font-display: swap;
	font-family: "Caveat Brush";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/caveat/caveat-brush-v11-latin-regular.woff2") format("woff2");
}
